<div class="container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "food-07-512_99519.png" %>
        <%= image_tag "pngwing.com.png", id: "popcorn" %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Back to lists", root_path, class:"btn btn-ghost" %>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/camillebreillot" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
    </div>

  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url(<%= cl_image_path @list.photo.key if @list.photo.attached? %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>


<div class="container my-5">

 <ul>
    <div class="row my-5">
      <% @list.bookmarks.each do |bookmark| %>
      <div class="col-4">
        <div class="card-movie">
          <%= image_tag bookmark.movie.poster_url, width: 200 %>
          <div class="card-movie-infos">
            <li class="list-unstyled" >
              <h2><%= bookmark.movie.title %> - <%= bookmark.movie.rating %></h2>
              <p><%= bookmark.movie.overview %></p>
              <p><%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %></p>
            </li>
          </div>
        </div>
      </div>
      <% end%>
    </div>
    </ul>
</div>


<div class="bg-white py-4">
  <div class="container">
    <h2 class="text-center pb-2">Add a movie to your <%= @list.name %> list</h2>

    <div class="d-flex">
      <div class="w-50">
        <%= simple_form_for([@list, @bookmark]) do |f| %>
          <%= f.association :movie %>
          <%= f.input :comment %>
          <%= f.submit "Add movie", class:"btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
